.head {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 8px;
    border-color: transparent;
}

.required {
    color: red;
}

.shade {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    width: 20rem;
    height: 360px;
    background-color: black;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: 0px 0px 10px 5px grey;
}

.img {
    border-radius: 13px 13px 0px 0px;
}