                            html,
                        body,
                        div,
                        span,
                        applet,
                        object,
                        iframe,
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p,
                        blockquote,
                        pre,
                        a,
                        abbr,
                        acronym,
                        address,
                        big,
                        cite,
                        code,
                        del,
                        dfn,
                        em,
                        img,
                        ins,
                        kbd,
                        q,
                        s,
                        samp,
                        small,
                        strike,
                        strong,
                        sub,
                        sup,
                        tt,
                        var,
                        b,
                        u,
                        i,
                        dl,
                        dt,
                        dd,
                        ol,
                        nav ul,
                        nav li,
                        fieldset,
                        form,
                        label,
                        legend,
                        table,
                        caption,
                        tbody,
                        tfoot,
                        thead,
                        tr,
                        th,
                        td,
                        article,
                        aside,
                        canvas,
                        details,
                        embed,
                        figure,
                        figcaption,
                        footer,
                        header,
                        hgroup,
                        menu,
                        nav,
                        output,
                        ruby,
                        section,
                        summary,
                        time,
                        mark,
                        audio,
                        video {
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font-size: 100%;
                            font: inherit;
                            vertical-align: baseline;
                            color: #fff;
                        }
                        
                        article,
                        aside,
                        details,
                        figcaption,
                        figure,
                        footer,
                        header,
                        hgroup,
                        menu,
                        nav,
                        section {
                            display: block;
                        }
                        
                        ol,
                        ul {
                            list-style: none;
                            margin: 0px;
                            padding: 0px;
                        }
                        
                        blockquote,
                        q {
                            quotes: none;
                        }
                        
                        blockquote:before,
                        blockquote:after,
                        q:before,
                        q:after {
                            content: '';
                            content: none;
                        }
                        
                        table {
                            border-collapse: collapse;
                            border-spacing: 0;
                        }
                        /* start editing from here */
                        
                        a {
                            text-decoration: none;
                        }
                        
                        .txt-rt {
                            text-align: right;
                        }
                        /* text align right */
                        
                        .txt-lt {
                            text-align: left;
                        }
                        /* text align left */
                        
                        .txt-center {
                            text-align: center;
                        }
                        /* text align center */
                        
                        .float-rt {
                            float: right;
                        }
                        /* float right */
                        
                        .float-lt {
                            float: left;
                        }
                        /* float left */
                        
                        .clear {
                            clear: both;
                        }
                        /* clear float */
                        
                        .pos-relative {
                            position: relative;
                        }
                        /* Position Relative */
                        
                        .pos-absolute {
                            position: absolute;
                        }
                        /* Position Absolute */
                        
                        .vertical-base {
                            vertical-align: baseline;
                        }
                        /* vertical align baseline */
                        
                        .vertical-top {
                            vertical-align: top;
                        }
                        /* vertical align top */
                        
                        nav.vertical ul li {
                            display: block;
                        }
                        /* vertical menu */
                        
                        nav.horizontal ul li {
                            display: inline-block;
                        }
                        /* horizontal menu */
                        
                        img {
                            max-width: 100%;
                        }
                        /*end reset*/
                        /****-----start-body----****/
                        
                        body {
                            background: url("../images/bg.jpg") no-repeat 0px 0px;
                            background-size: cover;
                            -o-background-size: cover;
                            -moz-background-size: cover;
                            -webkit-background-size: cover;
                            font-family: 'Source Sans Pro', sans-serif;
                        }
                        
                        .main h1 {
                            font-size: 1.5em;
                            color: #fff;
                            padding: 1.5em 0;
                            text-align: center;
                            font-family: 'Lora', serif;
                        }
                        
                        body a,
                        form li,
                        .submit input[type="submit"],
                        form li.second,
                        ul.age-groups li label,
                        .submit.three input[type="submit"],
                        .submit.two input[type="submit"] {
                            transition: 0.1s all;
                            -webkit-transition: 0.1s all;
                            -moz-transition: 0.1s all;
                            -o-transition: 0.1s all;
                        }
                        /*----sap-----*/
                        
                        .sap_tabs {
                            clear: both;
                            margin: 0 auto;
                            width: 40%;
                            /* text-align: center; */
                        }
                        
                        .container {
                            padding-right: 15px;
                            padding-left: 15px;
                            margin-right: auto;
                            margin-left: auto;
                        }
                        
                        .facts {
                            padding: 4% 4% 1% 4%;
                            background: #eb5242;
                        }
                        
                        .top1 {
                            margin-top: 2%;
                        }
                        
                        .resp-tabs-list {
                            width: 100%;
                        }
                        
                        .tab-text h3 a {
                            color: #918D8D;
                            font-size: 1.4em;
                            text-decoration: none;
                        }
                        
                        .resp-tab-item:first-child {
                            border-left: none;
                        }
                        
                        i.resp-tab-item.lost {
                            margin: 0;
                        }
                        
                        .resp-tab-item {
                            border: none;
                            color: #fff;
                            font-size: 1em;
                            background: #ba3627;
                            text-transform: uppercase;
                            cursor: pointer;
                            padding: 1.3em 0;
                            display: inline-block;
                            text-align: center;
                            list-style: none;
                            float: left;
                            width: inherit;
                            outline: none;
                            font-family: 'Raleway', sans-serif;
                            -webkit-transition: all 0.3s ease-out;
                            -moz-transition: all 0.3s ease-out;
                            -ms-transition: all 0.3s ease-out;
                            -o-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
                            font-weight: 600;
                        }
                        
                        .resp-tab-item:hover {
                            background: #eb5242;
                            text-shadow: none;
                            color: #FFF;
                        }
                        
                        .resp-tab-active {
                            background: #eb5242;
                            text-shadow: none;
                            color: #fff;
                        }
                        
                        .resp-tabs-container {
                            padding: 0px;
                            background-color: #fff;
                            clear: left;
                        }
                        
                        h2.resp-accordion {
                            cursor: pointer;
                            padding: 5px;
                            display: none;
                        }
                        
                        .resp-tab-content {
                            display: none;
                        }
                        
                        .resp-content-active,
                        .resp-accordion-active {
                            display: block;
                        }
                        
                        h2.resp-accordion {
                            font-size: 1em;
                            margin: 0px;
                            padding: 10px 15px;
                            background: #C5CDD1;
                            margin: 10px 0;
                            color: #FFF;
                        }
                        
                        span.tab-img img {
                            border: 3px solid rgba(213, 210, 210, 0.6);
                        }
                        
                        h2.resp-accordion:hover {
                            background: #FE2232;
                            text-shadow: none;
                            color: #FFF;
                        }
                        
                        span.tab-img {
                            float: left;
                            width: 25.5%;
                            margin-right: 2.6%;
                        }
                        
                        .tab-text {
                            float: right;
                            width: 68.5%;
                            position: relative;
                        }
                        
                        .tab-text p {
                            margin-bottom: 10px;
                        }
                        
                        .tab-text span {
                            position: absolute;
                            top: 45%;
                            left: 0%;
                            width: 99%;
                            height: 1px;
                            background: rgba(231, 231, 240, 1);
                        }
                        
                        .post-meta {
                            margin-top: 1em;
                        }
                        
                        .tab-text p a {
                            color: #69e9cf;
                            font-size: 0.875em;
                            line-height: 1.5em;
                            text-transform: uppercase;
                        }
                        
                        .tab-text p a:hover {
                            color: #eee378;
                        }
                        
                        .link1 {
                            font-size: 0.9em;
                            color: #918A8A;
                            font-style: italic;
                            font-weight: 600;
                        }
                        
                        .post-meta p {
                            font-size: 15px;
                            margin-bottom: 2px;
                            color: #999;
                        }
                        
                        .post-meta a {
                            color: #777;
                            margin-right: 10px;
                        }
                        
                        .post-meta a:hover {
                            color: red;
                        }
                        
                        .tab-left {
                            margin-bottom: 5%;
                        }
                        
                        li.resp-tab-item.lost {
                            margin: 0;
                        }
                        
                        .top-img {
                            padding-bottom: 0.7em;
                        }
                        /*---------*/
                        
                        .register p {
                            font-size: 1.1em;
                            color: #fff;
                            padding: 1em 0;
                            font-weight: 400;
                            text-align: left;
                        }
                        
                        .register input[type="text"],
                        .register input[type="email"],
                        .register input[type="number"],
                        .register input[type="date"],
                        .register input[type="password"],
                        .register input[type="file"],
                        .register textarea[type="ta"],
                        .register select[type="s"] {
                            width: -webkit-fill-available;
                            width: -moz-available;
                            ;
                            padding: 0.8em 0.8em;
                            color: #000;
                            font-size: 15px;
                            outline: none;
                            background: #fff;
                            font-weight: 500;
                            border-radius: 6px;
                            border: 1px solid rgba(186, 40, 23, 0.69);
                            font-family: 'Raleway', sans-serif;
                            padding-right: 15px;
                            padding-left: 15px;
                            margin-right: auto;
                            margin-left: auto;
                            border-color: deepskyblue;
                            outline: 0;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                        }
                        /*.........
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: #999;
  }
  .form-control::-webkit-input-placeholder {
    color: #999;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
  }
  .form-control[disabled],
  fieldset[disabled] .form-control {
    cursor: not-allowed;
  }
  textarea.form-control {
    height: auto;
  }
  .form-control-static {
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
  }
  .form-control-static.input-lg,
  .form-control-static.input-sm {
    padding-right: 0;
    padding-left: 0;
  }
  .form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  select.form-group-sm .form-control {
    height: 30px;
    line-height: 30px;
  }
  textarea.form-group-sm .form-control,
  select[multiple].form-group-sm .form-control {
    height: auto;
  }
  .form-group-sm .form-control-static {
    height: 30px;
    min-height: 32px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  select.form-group-lg .form-control {
    height: 46px;
    line-height: 46px;
  }
  textarea.form-group-lg .form-control,
  select[multiple].form-group-lg .form-control {
    height: auto;
  }
  .form-group-lg .form-control-static {
    height: 46px;
    min-height: 38px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
  .has-feedback {
    position: relative;
  }
  .has-feedback .form-control {
    padding-right: 42.5px;
  }
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
  }
  .input-lg + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
  }
  .input-sm + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .has-success .help-block,
  .has-success .control-label,
  .has-success .radio,
  .has-success .checkbox,
  .has-success .radio-inline,
  .has-success .checkbox-inline,
  .has-success.radio label,
  .has-success.checkbox label,
  .has-success.radio-inline label,
  .has-success.checkbox-inline label {
    color: #3c763d;
  }
  .has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  .has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
  }
  .has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
  }
  .has-success .form-control-feedback {
    color: #3c763d;
  }
  .has-warning .help-block,
  .has-warning .control-label,
  .has-warning .radio,
  .has-warning .checkbox,
  .has-warning .radio-inline,
  .has-warning .checkbox-inline,
  .has-warning.radio label,
  .has-warning.checkbox label,
  .has-warning.radio-inline label,
  .has-warning.checkbox-inline label {
    color: #8a6d3b;
  }
  .has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  .has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
  }
  .has-warning .input-group-addon {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
  }
  .has-warning .form-control-feedback {
    color: #8a6d3b;
  }
  .has-error .help-block,
  .has-error .control-label,
  .has-error .radio,
  .has-error .checkbox,
  .has-error .radio-inline,
  .has-error .checkbox-inline,
  .has-error.radio label,
  .has-error.checkbox label,
  .has-error.radio-inline label,
  .has-error.checkbox-inline label {
    color: #a94442;
  }
  .has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  }
  .has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
  }
  .has-error .form-control-feedback {
    color: #a94442;
  }
  .has-feedback label ~ .form-control-feedback {
    top: 25px;
  }
  .has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
  }
  .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
  }
  @media (min-width: 768px) {
    .form-inline .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    .form-inline .form-control-static {
      display: inline-block;
    }
    .form-inline .input-group {
      display: inline-table;
      vertical-align: middle;
    }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
      width: auto;
    }
    .form-inline .input-group > .form-control {
      width: 100%;
    }
    .form-inline .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-inline .radio,
    .form-inline .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-inline .radio label,
    .form-inline .checkbox label {
      padding-left: 0;
    }
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
    .form-inline .has-feedback .form-control-feedback {
      top: 0;
    }
  }
  .form-horizontal .radio,
  .form-horizontal .checkbox,
  .form-horizontal .radio-inline,
  .form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-horizontal .radio,
  .form-horizontal .checkbox {
    min-height: 27px;
  }
  .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (min-width: 768px) {
    .form-horizontal .control-label {
      padding-top: 7px;
      margin-bottom: 0;
      text-align: right;
    }
  }
  .form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
  }
  @media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
      padding-top: 14.333333px;
    }
  }
  @media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
      padding-top: 6px;
    }
  }
  .........*/
                        
                        .btn-primary {
                            color: #fff;
                            background-color: #BA3627;
                            border-color: #000;
                        }
                        
                        .btn {
                            display: inline-block;
                            padding: 6px 12px;
                            margin-bottom: 0;
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 1.42857143;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            -ms-touch-action: manipulation;
                            touch-action: manipulation;
                            cursor: pointer;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            background-image: none;
                            border: 1px solid transparent;
                            border-radius: 4px;
                        }
                        
                        .sign-up {
                            padding: 1em 0;
                        }
                        
                        .sign-up input[type="reset"] {
                            float: left;
                            background: #A12112;
                            padding: 0.8em 1.4em;
                            color: #fff;
                            font-weight: 400;
                            border: none;
                            outline: none;
                            font-size: 1em;
                            transition: 0.1s all;
                            -webkit-transition: 0.1s all;
                            -moz-transition: 0.1s all;
                            -o-transition: 0.1s all;
                            cursor: pointer;
                            font-family: 'Raleway', sans-serif;
                        }
                        
                        .sign-up input[type="reset"]:hover,
                        .sign-up input[type="submit"]:hover,
                        .submit.two input[type="submit"]:hover,
                        .submit.three input[type="submit"]:hover {
                            -webkit-transform: rotate(4deg);
                            transform: rotate(4deg);
                            -o-transform: rotate(4deg);
                            -moz-transform: rotate(4deg);
                        }
                        
                        .sign-up input[type="submit"] {
                            float: right;
                            background: #A12112;
                            padding: 0.8em 1.5em;
                            color: #fff;
                            font-weight: 400;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            font-size: 1em;
                            transition: 0.1s all;
                            -webkit-transition: 0.1s all;
                            -moz-transition: 0.1s all;
                            -o-transition: 0.1s all;
                            font-family: 'Raleway', sans-serif;
                        }
                        /*-----login----------*/
                        /* .buttons {
        padding: 1em 0 1.4em 0;
    } */
                        
                        .buttons li.twr {
                            display: inline-block;
                            width: 50%;
                            float: left;
                            border: none;
                        }
                        
                        .buttons li:hover {
                            border: none;
                        }
                        
                        .buttons li.fb {
                            /* display: inline-block; */
                            width: 50%;
                            float: left;
                            border: none;
                        }
                        /* Bounce To Bottom */
                        
                        .fb a.hvr-bounce-to-bottom {
                            display: inline-block;
                            vertical-align: middle;
                            -webkit-transform: translateZ(0);
                            transform: translateZ(0);
                            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            -moz-osx-font-smoothing: grayscale;
                            position: relative;
                            -webkit-transition-property: color;
                            transition-property: color;
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            color: #fff;
                            background: url("../images/fb.png")no-repeat 31px 15px #3b5fa4;
                            padding: 1em 6.45em;
                            font-size: 1.1em;
                            border-bottom: 3px solid #263F71;
                        }
                        
                        .fb a.hvr-bounce-to-bottom:before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #263F71;
                            -webkit-transform: scaleY(0);
                            transform: scaleY(0);
                            -webkit-transform-origin: 50% 0;
                            transform-origin: 50% 0;
                            -webkit-transition-property: transform;
                            transition-property: transform;
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            -webkit-transition-timing-function: ease-out;
                            transition-timing-function: ease-out;
                        }
                        
                        .fb a.hvr-bounce-to-bottom:hover,
                        .fb a.hvr-bounce-to-bottom:focus,
                        .fb a.hvr-bounce-to-bottom:active {
                            color: white;
                        }
                        
                        .fb a.hvr-bounce-to-bottom:hover:before,
                        .fb a.hvr-bounce-to-bottom:focus:before,
                        .fb a.hvr-bounce-to-bottom:active:before {
                            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                        }
                        /* Bounce To Top */
                        
                        .twr a.hvr-bounce-to-top {
                            display: inline-block;
                            vertical-align: middle;
                            -webkit-transform: translateZ(0);
                            transform: translateZ(0);
                            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            -moz-osx-font-smoothing: grayscale;
                            position: relative;
                            -webkit-transition-property: color;
                            transition-property: color;
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            color: #fff;
                            background: url("../images/twt.png")no-repeat 40px 15px #11aade;
                            padding: 1em 6.45em;
                            font-size: 1.1em;
                            border-bottom: 3px solid #0581AB;
                        }
                        
                        .twr a.hvr-bounce-to-top:before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #0581AB;
                            -webkit-transform: scaleY(0);
                            transform: scaleY(0);
                            -webkit-transform-origin: 50% 100%;
                            transform-origin: 50% 100%;
                            -webkit-transition-property: transform;
                            transition-property: transform;
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            -webkit-transition-timing-function: ease-out;
                            transition-timing-function: ease-out;
                        }
                        
                        .twr a.hvr-bounce-to-top:hover,
                        .twr a.hvr-bounce-to-top:focus,
                        .twr a.hvr-bounce-to-top:active {
                            color: white;
                        }
                        
                        .twr a.hvr-bounce-to-top:hover:before,
                        .twr a.hvr-bounce-to-top:focus:before,
                        .twr a.hvr-bounce-to-top:active:before {
                            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                            -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                        }
                        
                        .register p {
                            font-size: 1em;
                            color: #fff;
                            padding: 1em 0px;
                            font-weight: 400;
                            font-family: 'Raleway', sans-serif;
                        }
                        
                        .login input[type="text"],
                        .login input[type="password"] {
                            width: 87.9%;
                            padding: 1em 1em 0.9em 3em;
                            color: #000;
                            font-size: 17px;
                            outline: none;
                            font-weight: 400;
                            border: none;
                            border: 1px solid #fff;
                            margin: 0.8em 0;
                            background: url("../images/mail.png")no-repeat 10px 16px #fff;
                            border-color: deepskyblue;
                            outline: 0;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                        }
                        
                        .login input[type="password"] {
                            background: url("../images/lock.png")no-repeat 10px 15px #fff;
                        }
                        
                        .submit.two {
                            float: right;
                        }
                        
                        .submit.two input[type="submit"] {
                            font-size: 1em;
                            font-weight: 400;
                            color: #fff;
                            cursor: pointer;
                            outline: none;
                            padding: 0.8em 2em;
                            border: none;
                            background: #BA3627;
                            font-family: 'Raleway', sans-serif;
                        }
                        /*----------*/
                        
                        .p-container {
                            margin: 1em 0;
                        }
                        
                        .p-container .checkbox input {
                            position: absolute;
                            left: -9999px;
                        }
                        
                        .p-container.checkbox i {
                            border-color: #fff;
                            transition: border-color 0.3s;
                            -o-transition: border-color 0.3s;
                            -ms-transition: border-color 0.3s;
                            -moz-transition: border-color 0.3s;
                            -webkit-transition: border-color 0.3s;
                        }
                        
                        .p-container.checkbox i:hover {
                            border-color: red;
                        }
                        
                        .p-container i:before {
                            background-color: #2da5da;
                        }
                        
                        .p-container .rating label {
                            color: #ccc;
                            transition: color 0.3s;
                            -o-transition: color 0.3s;
                            -ms-transition: color 0.3s;
                            -moz-transition: color 0.3s;
                            -webkit-transition: color 0.3s;
                        }
                        
                        .p-container .checkbox input+i:after {
                            position: absolute;
                            opacity: 0;
                            transition: opacity 0.1s;
                            -o-transition: opacity 0.1s;
                            -ms-transition: opacity 0.1s;
                            -moz-transition: opacity 0.1s;
                            -webkit-transition: opacity 0.1s;
                        }
                        
                        .p-container .checkbox input+i:after {
                            content: url(../images/tick.png) no-repeat 7px 1px;
                            top: 1px;
                            left: 3px;
                            width: 14px;
                            height: 12px;
                        }
                        
                        .p-container.checkbox {
                            float: left;
                            margin-right: 30px;
                        }
                        
                        .p-container .checkbox {
                            padding-left: 40px;
                            font-size: 0.95em;
                            line-height: 21px;
                            color: #fff;
                            cursor: pointer;
                            font-family: 'Raleway', sans-serif;
                        }
                        
                        .p-container .checkbox {
                            position: relative;
                            display: block;
                        }
                        
                        label.checkbox {
                            float: left;
                            margin-top: 3px;
                        }
                        
                        .p-container .checkbox i {
                            position: absolute;
                            top: 0px;
                            left: 5px;
                            display: block;
                            width: 22px;
                            height: 22px;
                            outline: none;
                            border: none;
                            background: none;
                            border: 2px solid #89261B;
                        }
                        
                        .p-container .checkbox input+i:after {
                            position: absolute;
                            opacity: 0;
                            transition: opacity 0.1s;
                            -o-transition: opacity 0.1s;
                            -ms-transition: opacity 0.1s;
                            -moz-transition: opacity 0.1s;
                            -webkit-transition: opacity 0.1s;
                        }
                        
                        .p-container .checkbox input+i:after {
                            color: #2da5da;
                        }
                        
                        .p-container .checkbox input:checked+i,
                        .p-container . input:checked+i {
                            border-color: #2da5da;
                        }
                        
                        .p-container .rating input:checked~label {
                            color: #2da5da;
                        }
                        
                        .p-container .checkbox input:checked+i:after {
                            opacity: 1;
                        }
                        /*---------*/
                        
                        form.sub {
                            padding: 1em 0;
                        }
                        
                        form.sub p {
                            font-size: 1em;
                            color: #fff;
                            padding: 1em 0;
                            font-weight: 400;
                            font-family: 'Raleway', sans-serif;
                            text-align: left;
                        }
                        
                        form.sub input[type="password"] {
                            width: 95%;
                            padding: 0.8em 0.8em;
                            color: #fff;
                            font-size: 15px;
                            outline: none;
                            background: none;
                            font-weight: 500;
                            border: 1px solid rgba(186, 40, 23, 0.69);
                            font-family: 'Raleway', sans-serif;
                        }
                        
                        .submit.three input[type="submit"] {
                            font-size: 1em;
                            font-weight: 400;
                            color: #fff;
                            cursor: pointer;
                            outline: none;
                            padding: 1em 2em;
                            border: none;
                            background: #BA3627;
                            margin-top: 2em;
                            font-family: 'Raleway', sans-serif;
                        }
                        
                        .submit.three {
                            text-align: left;
                        }
                        /*---------------*/
                        
                        .copy-right {
                            text-align: center;
                            margin: 2em 0;
                        }
                        
                        .copy-right p {
                            color: #fff;
                            font-size: 1.1em;
                            font-weight: 400;
                        }
                        
                        .copy-right p a {
                            color: #fff;
                        }
                        
                        .copy-right p a:hover {
                            text-decoration: underline;
                        }
                        
                        .head {
                            background-color: #eb5242;
                            margin-top: 20px;
                            margin-bottom: 30px;
                            box-shadow: 0px 0px 15px 5px red;
                        }
                        /*-----start-responsive-design------*/
                        
                        @media (max-width:1440px) {
                            .login input[type="text"],
                            .login input[type="password"] {
                                width: 86.3%;
                            }
                            .sap_tabs {
                                margin: 0 auto;
                                width: 40%;
                            }
                            .fb a.hvr-bounce-to-bottom {
                                background: url("../images/fb.png")no-repeat 31px 15px #3b5fa4;
                                padding: 1em 5.5em;
                            }
                            .twr a.hvr-bounce-to-top {
                                background: url("../images/twt.png")no-repeat 40px 15px #11aade;
                                padding: 1em 5.5em;
                            }
                            .main h1 {
                                font-size: 2.8em;
                            }
                        }
                        
                        @media (max-width:1366px) {
                            .sap_tabs {
                                clear: both;
                                margin: 0 auto;
                                width: 43%;
                            }
                            .login input[type="text"],
                            .login input[type="password"] {
                                width: -webkit-fill-available;
                            }
                            .fb a.hvr-bounce-to-bottom {
                                background: url("../images/fb.png")no-repeat 31px 15px #3b5fa4;
                                padding: 1em 5.5em;
                            }
                            .twr a.hvr-bounce-to-top {
                                background: url("../images/twt.png")no-repeat 40px 15px #11aade;
                                padding: 1em 5.5em;
                            }
                        }
                        
                        @media (max-width:1280px) {
                            .sap_tabs {
                                clear: both;
                                margin: 0 auto;
                                width: 47%;
                            }
                        }
                        
                        @media (max-width:1024px) {
                            body {
                                background: url("../images/bg.jpg") no-repeat 0px 0px;
                                padding-bottom: 4em;
                            }
                            .sap_tabs {
                                clear: both;
                                margin: 0 auto;
                                width: 59%;
                            }
                            .main h1 {
                                font-size: 2.5em;
                                padding: 1em 0;
                            }
                        }
                        
                        @media (max-width:768px) {
                            .sap_tabs {
                                clear: both;
                                margin: 0 auto;
                                width: 59%;
                            }
                            .twr a.hvr-bounce-to-top {
                                background: url("../images/twt.png")no-repeat 40px 15px #11aade;
                                padding: 1em 5.9em;
                            }
                        }
                        
                        @media (max-width:640px) {
                            .sap_tabs {
                                width: 90%;
                            }
                            .resp-tab-item {
                                font-size: 0.9em;
                            }
                            .fb a.hvr-bounce-to-bottom {
                                padding: 1em 4.9em;
                            }
                            .twr a.hvr-bounce-to-top {
                                padding: 1em 5.55em;
                            }
                            .login input[type="text"],
                            .login input[type="password"] {
                                width: 85.8%;
                            }
                            form.sub input[type="password"] {
                                width: 94%;
                            }
                            .buttons li.fb {
                                display: inline-block;
                                width: 49%;
                            }
                            @media (max-width:480px) {
                                body {
                                    background: url("../images/bg.jpg") no-repeat 0px 0px;
                                    padding-bottom: 4em;
                                }
                                .top-img img {
                                    width: 25%;
                                }
                                .resp-tab-item {
                                    font-size: 0.7em;
                                }
                                .register input[type="text"],
                                .register input[type="password"],
                                .register input[type="email"],
                                .register input[type="number"],
                                .register input[type="date"],
                                .register input[type="file"],
                                .register textarea[type="ta"],
                                .register select[type="s"] {
                                    width: -webkit-fill-available;
                                }
                                .register p,
                                form.sub p {
                                    font-size: 0.95em;
                                    padding: 0.5em 0;
                                }
                                .fb a.hvr-bounce-to-bottom {
                                    padding: 1em 4.4em;
                                    font-size: 1em;
                                    background: url("../images/fb.png")no-repeat 10px 14px #3b5fa4;
                                }
                                .twr a.hvr-bounce-to-top {
                                    padding: 1em 4.4em;
                                    font-size: 1em;
                                    background: url("../images/twt.png")no-repeat 17px 12px #11aade;
                                }
                                .login input[type="text"],
                                .login input[type="password"] {
                                    width: 84.8%;
                                }
                                form.sub input[type="password"] {
                                    width: 92%;
                                }
                                .login input[type="text"],
                                .login input[type="password"] {
                                    width: 82.9%;
                                    padding: 0.85em 0em 0.85em 3em;
                                    margin: 0.4em 0;
                                    background: url("../images/mail.png")no-repeat 10px 15px #fff;
                                    font-size: 16px;
                                }
                                .login input[type="password"] {
                                    background: url("../images/lock.png")no-repeat 9px 10px #fff;
                                }
                                .buttons {
                                    padding: 0.5em 0 0.6em 0;
                                }
                                .submit.three input[type="submit"] {
                                    padding: 0.9em 2em;
                                    margin-top: 1em;
                                }
                                .p-container .checkbox {
                                    font-size: 0.85em;
                                }
                                .copy-right p {
                                    font-size: 1em;
                                    line-height: 1.5em;
                                }
                                .main h1 {
                                    font-size: 2em;
                                    padding: 1em 0;
                                }
                            }
                            @media (max-width:320px) {
                                .wrap {
                                    margin: 0 auto;
                                    width: 92%;
                                }
                                .resp-tab-item {
                                    font-size: 0.55em;
                                }
                                .register p,
                                form.sub p {
                                    font-size: 0.83em;
                                    padding: 0.5em 0;
                                }
                                .register input[type="text"],
                                .register input[type="password"] {
                                    width: 91%;
                                    font-size: 13px;
                                }
                                .sign-up input[type="reset"] {
                                    padding: 0.6em 1.4em;
                                    font-size: 0.9em;
                                }
                                .sign-up input[type="submit"] {
                                    padding: 0.6em 1.5em;
                                    font-size: 0.9em;
                                }
                                .facts {
                                    padding: 4% 4% 4% 4%;
                                }
                                .fb a.hvr-bounce-to-bottom {
                                    padding: 0.8em 3.25em;
                                    background: url("../images/fb.png")no-repeat 6px 8px #3b5fa4;
                                    background-size: 17%;
                                    font-size: 0.8em;
                                }
                                .twr a.hvr-bounce-to-top {
                                    padding: 0.8em 3.1em;
                                    font-size: 0.8em;
                                    background: url("../images/twt.png")no-repeat 11px 8px #11aade;
                                    background-size: 17%;
                                }
                                .login input[type="text"],
                                .login input[type="password"] {
                                    width: 75.5%;
                                    padding: 0.8em 1em 0.8em 3em;
                                    margin: 0.3em 0;
                                    background: url("../images/mail.png")no-repeat 10px 13px #fff;
                                    font-size: 15px;
                                }
                                .login input[type="password"] {
                                    background: url("../images/lock.png")no-repeat 9px 7px #fff;
                                }
                                .p-container .checkbox {
                                    font-size: 0.8em;
                                }
                                .submit.two input[type="submit"] {
                                    font-size: 0.9em;
                                    padding: 0.6em 1em;
                                }
                                .submit.three input[type="submit"] {
                                    padding: 0.8em 1em;
                                    margin-top: 1em;
                                }
                                form.sub input[type="password"] {
                                    width: 93%;
                                    padding: 0.6em 0.6em;
                                    font-size: 13px;
                                }
                                .copy-right p {
                                    font-size: 0.9em;
                                    line-height: 1.5em;
                                }
                                .main h1 {
                                    font-size: 1.45em;
                                }
                            }